{% extends "base.html" %}

{% block content %}
<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4 border-0" style="width: 400px;">
        <h3 class="text-center mb-4">Bienvenido</h3>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <button class="btn btn-primary w-100">
                Iniciar sesión
            </button>
        </form>
    </div>
</div>
{% endblock %}