<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">EduConnect 🎓</a>

    <div class="navbar-nav ms-auto">
        <a class="nav-link" href="#">Publicaciones</a>
        <a class="nav-link" href="#">Grupos</a>
        <a class="nav-link" href="#">Eventos</a>

        {% if user.is_authenticated %}
          <a class="nav-link">
            hola, {{user.first_name}}
          </a>
          {% if user.is_superuser and user.role == "ADMIN" %}
            <li>
              <a class="nav-link" href="{% url 'users-list' %}">
                Crear Usuario
              </a>
            </li>
          {% endif %}
          <form method="post" action="{% url 'users-list' %}">
            {% csrf_token %}
            <button class="btn btn-outline-ligth">
              Cerrar sesión
            </button>
          </form>
        {% endif %}

    </div>
  </div>
</nav>